/*------------------------------------------------------------------

[Table of contents]

1. Global Elements
2. Container
3. Header
	3.1. Navigation
	3.2. Slider
4. Afterheader
5. Content
	5.1.
	5.2.
6. Sidebar
7. Footer
8. Media Queries

-------------------------------------------------------------------*/
/*-----------------------------------------------------------------
1. Global Elements
-------------------------------------------------------------------*/
body{
  background-color:#000;
  background: url('../img/background.jpg');
  font-family: 'Poppins', sans-serif;
  color: #fff;
  letter-spacing: 1px;
  font-size: 12px;
  /*font-family: 'Lato', sans-serif;*/
}
/*-----------------------------------------------------------------
2. Container
-------------------------------------------------------------------*/
.container-fluid {
  /*padding-right: 0;*/
}
/*-----------------------------------------------------------------
3. Header
-------------------------------------------------------------------*/
header {
  margin-top: 40px;
}
/*-----------------------------------------------------------------
  3.1. Navigation
-------------------------------------------------------------------*/

.navbar-nav>li{
  list-style: none;
  padding-bottom: 10px;
}
.navbar-nav>li>a{
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0;
}
.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
  color: #ffc600;
}
.active {
  color: #ffc600!important;
}
.navbar-collapse {
  border-top: none;
}

/*-----------------------------------------------------------------
5. Content
-------------------------------------------------------------------*/


.blue-text {
  color: #02e8e8;
}
.deep-blue-text {
  color: #458fed;
}
.blue-bg {
	background-color: #02e8e8;
}
.deep-blue-bg {
  background-color: #458fed;
}
.pink-text {
	color: #d72b8e;
}
.pink-bg {
  background-color: #d72b8e;
}
.yellow-text {
	color: #dcab00;
}
.yellow-bg {
  background-color: #dcab00;
}
.right-rectangle {
	height: 10px;
  margin-left: 10px;
  display: inline-block;
}
.left-rectangle {
  height: 10px;
  margin-right: 10px;
  display: inline-block;
}
.section-title {
  width: 50%;
}
.section-title h1{
  font-weight: 700;
  display: inline;
  font-size: 4em;
}
section h3{
  color: #fff;
  font-weight: 600;
}
.black-bg-section {
  background-color: #000;
  min-height: 200px;
  position: absolute;
  width: 100%;
  margin-top: 62px;
}
.blue-top-btm-borders {
  border-top: 1px solid #02e8e8;
  border-bottom: 1px solid #02e8e8;
}
.deep-blue-top-btm-borders {
  border-top: 1px solid #458fed;
  border-bottom: 1px solid #458fed;
}
.pink-top-btm-borders {
  border-top: 1px solid #d72b8e;
  border-bottom: 1px solid #d72b8e;
}
.yellow-top-btm-borders {
  border-top: 1px solid #dcab00;
  border-bottom: 1px solid #dcab00;
}
section .container .row .col-xs-12:last-of-type {
  padding-top: 20px;
}
.pic-text-block,
.text-pic-block {
  overflow: hidden;
}
.pic-text-block .pic img{
  max-width: 530px;
  float: right;
  padding-right: 35px;
}
.pic-text-block .text,
.text-pic-block .text {
  padding-right: 0;
  padding-left: 0;
}
.text-pic-block .pic img {
  max-width: 530px;
  float: left;
  padding-left: 35px;
}
.pic-text-block>.text>.text-left,
.text-pic-block>.text>.text-right {
  width: 83%;
}
.section-design-element {
  width: 55%;
  margin-top: -10%;
}
.design-element3 {
  margin-top: -50%;
}
.design-element4 {
  margin-top: -25%;
}
.home-section-link {
  text-align: right;
  padding-right: 0;
}
.home-section-link-left {
  text-align: left;
  padding-left: 0;
}


/* inner pages */
.page-header {
  border-bottom: none;
}
.page-header h1 {
  color: #ffc600;
  font-weight: 700;
  text-align: center;
}
.header-design-element {
  margin-top: 12px;
  margin-bottom: 10px;
}
article {
  padding-bottom: 50px;
}
article h3 {
  color: #ffc600;
}
input {
  color: #000;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.upload-btn {
  background-color: #ffc600;
  font-size: 12px;
  font-weight: 500;
  border: none;
}
.submit-btn {
  background-color: transparent;
  border: none;
  color: #ffc600;
  letter-spacing: 2px;
  font-weight: 600;
}
.upload-btn:focus ,
.submit-btn:focus {
  outline: none;
}
aside a{
  color: #ffc600;
}
aside a:focus,
aside a:hover {
  color: #ffc600;
  text-decoration: none;
}
aside h4 {
  margin: 0;
  padding: 10px 0;
}
aside h4 a{
  color: #7E7E7E;
}
aside h4 a:focus,
aside h4 a:hover {
  color: #747474;
  text-decoration: none;
}

aside ul li{
  list-style: none;
  padding-right: 20px;
}
.aside-active {
  color: #fff;
}
aside li h2{
  color: #ffc600;
  font-weight:700;
  letter-spacing: 4px;
  padding-right: 20px;
  margin: 0;
  padding-top: 20px;
}
aside .current-sub-tabs li:first-of-type {
  border-right: 4px solid #062f4a;
}
aside .current-tab {
  border-right: 4px solid #062f4a;
  border-bottom: 4px solid #062f4a;
  padding-bottom: 10px;
}
aside .current-tab #mask {
  position: absolute;
  width: 29%;
  height: 4px;
  background-color: #000;
  top: 63px;
}
article iframe {
  max-width: 100%;
}
.contact article .row .col-xs-8 {
  margin-top: 20px;
  margin-bottom: 10px;
}
/*-----------------------------------------------------------------
7. Footer
-------------------------------------------------------------------*/
footer {
  color: #fff;
  font-family: 'Lato', sans-serif;
  padding: 3em 0;
  border-top: 1px solid #02b3a6;
}
.social-icons a{
  color: #fff;
  font-size: 0.6em;
}
.social-icons .fa-inverse{
  color: #000;
}
/*-----------------------------------------------------------------
8. Media Queries
-------------------------------------------------------------------*/
@media (min-width: 1200px) {
  .right-rectangle {
    line-height: 3em;
  }
}
@media (max-width: 1199px)  {
  .section-title h1{
    font-size: 3.7em;
  }
  .right-rectangle {
    line-height: 3em;
  }
}
@media (max-width: 991px)  {
  .section-title h1{
    font-size: 2.8em;
  }
  .right-rectangle {
    line-height: 2em;
  }
  section h3 {
    font-size: 20px;
  }
}
@media (max-width: 767px){
  .navbar-nav {
    text-align: center;
  }
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
  .section-title h1{
    font-size: 2em;
  }
  .section-title{
    margin-bottom: 2%;
  }
  .right-rectangle {
        line-height: 1.5em;
  }
  section h3 {
    font-size: 14px;
  }
  .mobile-only-sides-padding {
    padding-right: 20px;
    padding-left: 20px;
  }
  .not-for-mobile {
    display: none;
  }
  .pic-text-block .pic img,
  .text-pic-block .pic img{
    max-width: 100%;
    padding: 0;
  }
  .section-title{
    width: 80%;
  }
  .pic-text-block .text,
  .text-pic-block .text {
    padding-right: 30px;
    padding-left: 30px;
  }
  .text-pic-block .text .text-right {
    text-align: left;
  }
  .pic-text-block .text .text-left,
  .text-pic-block .text .text-right {
    width: auto;
  }
}
